*,
*::before,
*::after {
    font-family: "Atomic Age", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.title {
    color: cyan;
    background-color: orange;
    font-size: 44px;
    font-weight: 850;
    text-align: center;
    padding: 12px;
}

a {
    color: darkorchid;
    font-size: 24px;
    font-weight: 550;
}

img {
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightgoldenrodyellow;
}

.home {
    display: block;
    padding: 5px;
    margin-left: 50px;
    margin-top: -5px;
    margin-bottom: 25px;
}

.ul, .ol {
    color: black;
    background-color: lightskyblue;
    font-size: 22px;
    padding: 16px 32px;
    margin-left: 50px;
    margin-right: 50px;
}

.pizza, .kebab, .pasta {
    color: salmon;
    background-color: lightgoldenrodyellow;
}

.pizza {
    color: orange;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
    color: lightslategrey;
    background-color: lightblue;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: lightslategrey;
    background-color: lightblue;
    font-size: 36px;
    font-weight: 700;
    padding: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    color: black;
    background-color: cyan;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}