*,
*::before,
*::after {
    font-family: "Atomic Age", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 235, 215);
}

.title {
    color: cyan;
    background-color: orange;
    font-size: 44px;
    font-weight: 850;
    text-align: center;
    padding: 12px;
}

a {
    color: darkorchid;
    font-size: 24px;
    font-weight: 550;
}

.home {
    display: block;
    padding: 5px;
    margin-left: 125px;
    margin-top: -5px;
    margin-bottom: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightgoldenrodyellow;
}

.main {
    margin-left: 150px;
    margin-right: 150px;
}

.ul, .ol {
    color: black;
    background-color: rgb(231, 189, 135);
    font-size: 22px;
    padding: 16px 32px;
    border-style: ridge;
    border-width: 4px;
    border-color: lightcoral;
}

h1 {
    color: lightslategrey;
    background-color: wheat;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: lightslategrey;
    background-color: wheat;
    font-size: 36px;
    font-weight: 700;
    padding: 8px;
}

p {
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    margin: auto auto;
}

.pizza, .kebab, .pasta {
    color: salmon;
    background-color: lightgoldenrodyellow;
}

.pizza {
    color: orange;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}